from flask import Flask, redirect, url_for
from pymongo import MongoClient

app = Flask(__name__)

client = MongoClient('mongodb://{{ db_hosts }}/?replicaSet=rs0')
db = client.likes_db
likes_collection = db.likes

@app.route('/')
def index():
    likes = likes_collection.find_one({'_id': 'likes'})
    if likes:
        count = likes['count']
    else:
        count = 0
        likes_collection.insert_one({'_id': 'likes', 'count': count})
    return f'<h1>Likes: {count}</h1><a href="/like">Like</a>'

@app.route('/like')
def like():
    likes_collection.update_one({'_id': 'likes'}, {'$inc': {'count': 1}})
    return redirect(url_for('index'))

if __name__ == '__main__':
    app.run(host='0.0.0.0', port=5000)
